<tr id="<%= dom_id friend %>">
  <td>
    <%= friend.first_name %>
  </td>

  <td>
    <%= friend.last_name %>
  </td>

  <td>
    <%= friend.email %>
  </td>

  <td>
    <%= friend.phone %>
  </td>

  <td>
    <%= friend.twitter %>
  </td>

  <td>
    <%= friend.user_id %>
  </td>

  <td>
    <%= link_to "Inspect Friend", friend, class: "btn btn-info text-white" %>
  </td>

  <td>
    <%= link_to "Edit Friend", edit_friend_path(friend), class: "btn btn-warning text-white" %>
  </td>

</tr>
