<tr id="<%= dom_id friend %>">

  <td>
    <%= friend.email %>
  </td>

  <td>
    <%= "#{friend.first_name} #{friend.last_name}" %>
  </td>

  <td>
    <%= friend.phone %>
  </td>

  <td>
    <%= friend.twitter %>
  </td>

  <td>
    <%= link_to "Edit Friend", edit_friend_path(friend), class: "btn btn-warning text-white" %>
  </td>

</tr>
